body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  background: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_640.jpg);
  background-size: cover;
  color: #fff;
  margin: 0 10px;
}

.App {
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  width: 250px;
  border-radius: 10%;
  background-color: #4a888c;
  opacity: 0.8;
  text-align: center;
}

li {
  padding: 10px;
  font-size: 20px;
}
.app-footer {
  background-color: #222;
  color: #fff;
  padding-left: 200px;
  padding-right: 200px;
}

img {
  height: 70px;
}


